# IDE - Android Studio
.idea/
*.iml

# Gradle
.gradle/
/build/
**/build/

# Local config (no compartir)
local.properties

# Compilados nativos
.externalNativeBuild/
.cxx/

# Capturas de profiler
/captures/

# OS
.DS_Store
Thumbs.db
